<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav">
        <!-- <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link float-right" (click)="logout()">Logout</a> -->
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- credits -->
<div class="text-center mt-4">
    <p>
        <a href="rooter" target="_top">Angular 9 - User Registration and Login Example & Tutorial</a>
    </p>
</div>